.outer
{
	//height:1060px;
	width:960px;
	display: block !important;
	//border:1px solid;
	margin:auto;

}
.inouter
{
	//height:1000px;
	width:900px;
	display: block !important;
	//border:1px solid;
	/*margin:30px 30px;*/
	/*background-color: red;*/
}
.para{

	font-size: 30px;
	margin:0px;
}
.head
{
	/*background-color: red;*/
	/*//height:200px;*/
	width:900px;
	/*padding:10px;*/
	display:table; ;
	//border:1px solid;
	/*background-color: green;*/
	background-color:aliceblue;
}

		.lhead
		{
			//height:200px;
			width:445px;
			border:0px solid;
			float:left;
			margin-left: 5px;
			margin-top: 5px;
			margin-bottom: 5px;
			/*background-color:aliceblue;*/
		}

				.lnamehead
				{
					width:445px;
					border:0px solid;
					float:left;
					//background-color:red;
				}
				.lobjectivehead
				{
					//height:160px;
					width:450px;
					border:0px solid;
					float:left;
					//background-color:powderblue;
				}
		.rhead
		{
				//height:200px;
				width:445px;
				border:0px solid;
				float:right;
			margin-right: 5px;
			margin-top: 5px;
			margin-bottom: 5px;
				/*background-color:aliceblue;*/
		}

.bottom
		{
				//height:800px;
				width:900px;
				border:0px solid;
				float:right;
				//background-color:blue;
		}
		
					.lbottom
					{
						//height:800px;
						width:450px;
						border:0px solid;
						float:left;
						background-color:aliceblue;
					}

					.rbottom
					{
						//height:800px;
						width:450px;
						border:0px solid;
						float:right;
						background-color:green;
					}
.heading
{
	//height:50px;
	width:897px;
	//border:1px solid;
	//float:left;
	background-color:gray;
}
.tablehead
{
	/height:305px;
	width:897px;
	//border:1px solid;
	background-color:aliceblue;
}
.tableskills
{
	//height:183px;
	width:897px;
	//border:1px solid;
	background-color:aliceblue;
	margin-top:0px;
}